<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite 1234">

 <listeners>
 <listener class-name="extendReport.ExtentTestNGReporterListener"/>
 </listeners>
 <test thread-count="2" name="Chrome">

  <parameter name="browser" value="Chrome"/>
  <classes>
  <class name="facebookproject10dec.testNg"/>
  </classes>
  
  
  </test> <!-- Test123-->
  <test thread-count="2" name="Firefox">
  <parameter name="browser" value="Firefox"/>
  <classes>
  <class name="facebookproject10dec.testNg"/>
  </classes>
  </test>
 

 
  
</suite> <!-- Suite 1234 -->
